body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f5f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.questions{
    max-width: 620px;
    margin: 0 auto;
}
.question-title{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    line-height: 40px;
    color: #c59d5f;
    margin-top: 15vh;
    margin-bottom: 4rem;
    text-align: center;
}
.questions-wrapper{
    width: 620px;
}
.questions-item{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 24px 24px 0 24px;
    margin-bottom: 32px;
}
.item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
.title{
    color: #102a42;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4px;
}
.btn{
    color: #c59d5f;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn:hover{
    transform: rotate(90deg);
}
.item-info{
    
    padding: 16px 0 24px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: #617d98;
}
.item-info{
    display: none;
}
.show-text .item-info{
    display: block;
}
